.navbar{
    margin-bottom: 1.2rem;
}
.container-fluid{
    background: transparent;
    padding: 0.47rem;
    font-size: max(1.5vw, 18px);
    font-weight: 700;
    border: 2px solid rgb(221, 219, 219);
    border-radius: 24px;
    background: rgb(221, 219, 219);
    box-shadow: 0px 10px 24px rgb(2, 0, 110, 0.5);
}
.navbar-brand{
    font-style: italic;
}
.navbar-brand img{
    height: 69px;
}
.nav a, .cart-icon{
    color: #2d2979;
    text-align: center;
    text-decoration: none;
    margin-left: 2.3rem;
}
.cart-icon:hover{
    transform: scale(1.1);
    color: #2d2979;
}